.me {
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1581299/profile/profile-80.jpg), auto;
  }

  .social-mozilla {
    cursor: url(https://www.mozilla.org/media/img/logos/social/social-icon-sprite.bf2ae0cd0f01.svg), auto;
  }
  
  .emoji {
    cursor: url(https://abs.twimg.com/emoji/v2/72x72/1f525.png) 36 36, auto;
  }
  
  .help {
    grid-column: span 2;
    font-weight: 100;
    cursor: help;
  }
  
  div {
    display: flex;
    padding: 20px;
    background-color: #2de9e0;
  }
  
  p {
    margin: auto;
  }
  
  a {
    font-weight: 900;
    color: #3ecab8;
    text-decoration-style: dashed;
  }
  
  a:hover {
    text-decoration-style: solid;
  }
  
  main {
    display: grid;
    grid-template-rows: repeat(3, 10rem);
    grid-template-columns: 20em 20em;
    grid-gap: 10px;
    margin: 1rem auto;
    color: white;
  }
  
  body {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #f1d3d3;
    font-weight: 900;
    font-family: Verdana, Geneva, sans-serif;
  }